/* Author : Luke Park */

body {
    background: #214F4B;
    margin: auto;
    overflow: hidden;
}

content {
    position: absolute;
    height: calc(100% - 90px);
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    padding: 10px;
    overflow: scroll;
    transition: height 0.3s ease;
}

.noselect {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* ========== Header CSS ========== */

header {
    background: rgba(0,0,0,0.15);
    height: 70px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
}


server_status {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
}

server_config {
    padding: 10px;
    display: flex;
    gap: 10px;
}

icon {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}

.header_text {
    color: white;
    display: flex;
    align-items: center;
    font-size: 60;
    font-family: poppins;
    padding-left: 10px;
    padding-right: 10px;
}

device_status {
    display: flex;
}

/* ================================ */

/* ========== Screen CSS ========== */

/* ===== Screen Banner ===== */

screen {
    min-width: fit-content;
    background: rgba(0,0,0,0.2);
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    animation: screen_creation 0.3s forwards;
    align-self: flex-start; 
}

banner {
    width: calc(100% - 10px);
    height: 25px;
    background: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    gap: 20px;
}

.banner_object {
    color: white;
    font-family: poppins;
    display: flex;
    align-items: center;
}

ip {
    opacity: 0;
    transition: all 0.3s ease;
}

banner:hover ip {
    opacity: 1;
}

device_status {
    width: fit-content;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}

device_config {
    width: 0px;
    height: 0px;
    background: rgba(41,47,54,0.5);
    color: white;
    transition: all 0.3s ease-in-out;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

pre {
    font-family: Cutive Mono;
    background: none;
    animation: none;
}

device_config_send {
    background: #2081C3;
    min-height: 40px;
    width: calc(100% - 30px);
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins;
    align-self: center;
}

device_config_send:active {
    transform: translateY(1px);
}

device_warning {
    max-width: fit-content;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

warning {
    height: 70px;
    width: 70px;
}

warning_text {
    width: fit-content;
    max-width: fit-content;
    min-width: fit-content;
    max-height: 60px;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 20;
}

device_status:hover warning_text {
    opacity: 1;
}

status {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    animation: status_connected 1s infinite;
    transition: all 0.3s ease;
}

@keyframes device_config_error {
    0% {
        background: none;
    }

    10% {
        background: red;
    }

    100% {
        background: none;
    }
}

@keyframes screen_creation {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes screen_deletion {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes status_disconnected {
    
    0% {
        background: rgb(255, 105, 97);
    }
    
    50% {
        background: rgb(215, 0, 21);
    }
    
    100% {
        background: rgb(255, 105, 97);
    }
    
}

@keyframes status_connected {
    
    0% {
        background: rgb(48, 219, 91);
    }
    
    50% {
        background: rgb(36, 138, 61);
    }
    
    100% {
        background: rgb(48, 219, 91);
    }
    
}

/* ========================= */

/* ===== Screen Content ===== */

screen_content {
    width: calc(100%);
    height: calc(100% - 25px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
}

switch_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
}

.label {
    min-width: 80px;
    max-width: 120px;
    min-height: 25px;
    max-height: 25px;
    background: rgba(0,0,0,0.5);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: white;
    font-family: poppins;
    overflow: hidden;
    text-align: center;
}

switch {
    width: 90px;
    height: 50px;
    background: rgb(255, 149, 0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

switch_toggler {
    position: absolute;
    margin-left: 1px;
    background: white;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Bar ===== */

analog_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 10px;
}

bar_container {
    width: 300px;
    height: 50px;
    background: #404E4D;
    border-radius: 7.5px;
    overflow: hidden;
    display: flex;
    overflow: hidden;
}

bar {
    height: 50px;
    width: 0%;
    background: rgb(255, 149, 0);
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

bar_value {
    position: relative;
    min-width: 34px;
    min-height: 34px;
    width: 34px;
    height: 34px;
    background: white;
    border-radius: 50px;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    left: 42px;
}

/* ===== Pie ===== */

pie_panel {
    width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
}

pie_chart {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

circle {
    transition: all 0.3s ease;
}

/* ===== Output ===== */

output {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background: rgb(255, 149, 0);
    transition: all 0.3s ease;
}

output_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
}

/* ===== Graph ===== */

analog_graph_container {
    min-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.graph_label {
    min-width: 80px;
    max-width: fit-content;
    min-height: 25px;
    max-height: 25px;
    background: rgba(0,0,0,0.2);
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    color: white;
    font-family: poppins;
    overflow: hidden;
    text-align: center;
}

graph {
    flex-grow: 1;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    padding-top: 15px;
    border-top-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
}

bar_graph_bar {
    height: 0%;
    width: 100%;
    border-radius: 7px;
    border: 2px solid rgb(255, 59, 48);
    background: rgb(255, 59, 48);
    align-self: flex-end;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

bar_graph_value {
    margin-top: -44px;
    color: black;
    font-family: poppins;
    font-size: 80%;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

/* ===== Line Graph ===== */

.line {
    fill: none;
    stroke: #EF2B7C;
    stroke-width: 2px;
  }
  
  .circle {
    fill: rgba(255,149,0);
    stroke: rgba(255,149,0);
    transition: none;
  }
  
  .axis path,
  .axis line {
    stroke: white;
  }
  
  .axis {
    font-family: poppins;
    font-size: 12px;
    color: white;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    font: 12px poppins;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* ========================== */

/* ================================ */